Search/SearchServer/Service References/SearchServiceReference/SearchServiceMain.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SearchServiceMain" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55387/SearchServiceMain.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55387/SearchServiceMain.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISearchServiceMain_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISearchServiceMain_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchServiceMain_SetPath_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPath" />
  </wsdl:message>
  <wsdl:message name="ISearchServiceMain_SetPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPathResponse" />
  </wsdl:message>
  <wsdl:portType name="ISearchServiceMain">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchServiceMain/GetData" message="tns:ISearchServiceMain_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchServiceMain/GetDataResponse" message="tns:ISearchServiceMain_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPath">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchServiceMain/SetPath" message="tns:ISearchServiceMain_SetPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchServiceMain/SetPathResponse" message="tns:ISearchServiceMain_SetPath_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISearchServiceMain" type="tns:ISearchServiceMain">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ISearchServiceMain/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPath">
      <soap:operation soapAction="http://tempuri.org/ISearchServiceMain/SetPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchServiceMain">
    <wsdl:port name="BasicHttpBinding_ISearchServiceMain" binding="tns:BasicHttpBinding_ISearchServiceMain">
      <soap:address location="http://localhost:55387/SearchServiceMain.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>